.footer {
  .logo {
    margin-top: 60px;
    height: 39px;
    width: 122px;
    filter: brightness(100);
  }

  p {
    @media (max-width: 700px) {
      width: 250px;
      text-align: center;
    }
  }

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  line-height: 34px;
  height: 209px;
  gap: 10px;
  font-size: 24px;
  left: 0;
  bottom: 0;
  width: 100%;

  @media (max-width: 850px) {
    height: 375px;
    bottom: -209px;
  }
  @media (max-width: 700px) {
    bottom: -400px;
  }
}