.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-link {
    display: flex;
    gap: 57px;

    @media (max-width: 700px) {
      gap: 20px;
    }

    .nav-link-btn {
      text-decoration: none;
      color: $main-color;
      font-family: $main-font;
      font-size: 24px;
      line-height: 34px;

      @media (max-width: 700px) {
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
      }

      &:hover {
        text-decoration: underline;
    

      }
    }
  }
}

.logo {
  caret-color: transparent;
  @media (max-width: 700px) {
    height: 46.88px
  }
}