.container-banner {
    overflow: hidden;
    border-radius: 25px;
    background-color: aliceblue;
    user-select: none;
    height: 223px;
    @media (max-width: 750px) {
        height: 111px;

    }
}

.banner {
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 25px;

    }

    @media (max-width: 750px) {
        font-size: 35px;
        justify-content: start;
        height: 100%;
    }

    .banner-content {
        font-family: $main-font;
        font-size: 48px;
        color: white;
        position: relative;

        @media (max-width: 750px) {
            padding: 0 20px;
            width: 215px;
            font-size: 24px;
        }
    }
}