.container-card {
    @media (max-width: 1250px) {
        justify-content: center;
        gap: 50px 70px;
    }
    @media (max-width: 1190px) {
        background-color: #ffffff00;
    }
    background-color: #F6F6F6;
    border-radius: 25px;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: start;
    padding: 50px;

}