.cards {
    @media (max-width: 1260px) {
        width: 45%;
    }

    @media (max-width: 900px) {
        width: 100%;
    }
    
    -webkit-user-drag: none;
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in,
    transform 0.2s ease-in;
    overflow: hidden;

    &:hover img.card {
        transform: scale(120%);

    }

    &::before {
        content: "";
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.602) 7%, rgba(0, 0, 0, 0) 100%);
        border-radius: 10px;

    }

    .card {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
    }

    .title {
        z-index: 6;
        position: absolute;
        margin-left: 15px;
        margin-right: 10px;
        bottom: 0;
        color: white;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;            
    }

    &:hover {
        background-color: black;
        transform: scale(101%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(0, 0, 0) 10px 10px 10px;
    }


}