.carrouselle {
    position: relative;
    display: flex;
    height: 415px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;

    @media (max-width: 700px) {

        height: 255px;
    }

    .fleche {
        top: 45%;
        z-index: 5;
        position: absolute;
        transition: transform 0.2s ease-in;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            transform: scale(1.3);
        }

        @media (max-width: 700px) {
            transform: scale(30%);
            top: 35%;

            &:hover {
                transform: scale(0.5);
            }
        }
    }

    .fleche-gauche {
        margin-left: 20px;
        @media (max-width: 700px) {
            margin-left: 0px;
        }
    }

    .fleche-droite {
        right: 20px;
        rotate: 180deg;

        @media (max-width: 700px) {
            right: 0px;
        }
    }

    .carouselle-img {
        box-sizing: border-box;
        border-radius: 25px;
        user-select: none;
        object-fit: cover;
        border-radius: 25px;
        width: 100%;


        @media (max-width: 700px) {
            width: none;
            height: 255px;
        }
    }
}

.compteur {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}