.footer {
  .logo {
    margin-top: 60px;
    height: 39px;
    width: 122px;
    filter: brightness(100);
  }

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  line-height: 34px;
  height: 209px;
  gap: 10px;
  font-size: 24px;
  left: 0;
  bottom: -279px;
  width: 100%;

  @media (max-width: 880px) {
    height: 375px;
    bottom: -375px;
  }
}