.list-tag {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    user-select: none;

    .tag {
        list-style: none;
        color: white;
        background-color: $main-color;
        min-width: 115px;
        padding: 1px;
        border-radius: 10px;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;

    }
}

.logement-title {
    margin: 0;

    padding: 0;
    font-size: 36px;
    font-weight: 500;
}

.logement-location {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.container-info {
    position: relative;
    align-items: center;
    color: $main-color;
    font-family: $main-font;
}

.container-host-rating {
    position: absolute;
    right: 0;
    top: 0;
}

.container-host {
    display: flex;
    justify-content: end;
    gap: 5px;
    user-select: none;

    .host-name {
        width: 50%;
        display: flex;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        align-self: center;
        user-select: text;
        line-height: 1.4;
    }

    .host-img {
        margin: 0;
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }
}

.rating div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    user-select: none;
}

.etoile {
    height: 20px;
}

.etoileInative {
    filter: contrast(0);
    opacity: 0.3;
}

.container-descrition-equipements {
    color: white;
    display: flex;
    gap: 76px;
    margin: 10px 0;
    margin-top: 20px;
    align-items: start;
    line-height: 26px;
}