body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    @media (max-width: 1260px) {
        padding: 0 20px;

    }
  }
  img {
    -webkit-user-drag: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
  }
  
  #root {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-width: 1240px;
    margin: auto;
    margin-top: 50px;
  
  }
  
