.container-banner {
    overflow: hidden;
    border-radius: 25px;
    background-color: aliceblue;
    margin-top: 50px;
}

.banner {

    height: 223px;
    background-image: url('../assets/fond2.png');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease-out;
    &:hover .banner-content {
        transform: scale(0.9);
      }
    &:hover {
        transform: scale(1.2);
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 25px;

    }

    .banner-content {
        transition: transform 0.5s ease-in;
        font-family: Montserrat;
        font-size: 48px;
        color: white;
        position: relative;

    }
}