body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  min-height: 100vh;
 }



#root {

  display: flex;
  flex-flow: column nowrap;
  height: 100%;

}

main {
  flex: 1;
}

#root {
  max-width: 1240px;
  margin: auto;
  margin-top: 50px;

}