body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  min-height: 100vh;
}



#root {

  display: flex;
  flex-flow: column nowrap;
  height: 100%;

}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

#root {
  max-width: 1240px;
  margin: auto;
  margin-top: 50px;

}

.container-cardComponent {

  display: flex;
  flex-direction: column;
  margin: 0 50px;
  gap: 15px;
}